<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components</title>
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-neutral-950 flex flex-col items-center justify-center py-60 px-44 gap-y-8">
    <!-- White buttons -->
        <div>
            <button class="bg-neutral/50 w-80.5 py-2 px-6 rounded-8xl flex justify-center items-center shadow-btn box-border  backdrop-blur-23.6px">
                <span class="text-neutral/1000 text-base leading-1.2 not-italic font-bold text-center font-Inter">
                    Create account
                </span>
            </button>
        </div>
        <div>
            <button class="bg-neutral/200 w-80.5 py-2 px-6 rounded-8xl flex justify-center items-center shadow-btn box-border  backdrop-blur-23.6px">
                <span class="text-neutral/1000 text-base leading-1.2 not-italic font-bold text-center font-Inter">
                    Create account
                </span>
            </button>
        </div>
        <div>
            <button class="bg-neutral/50 opacity-50 w-80.5 py-2 px-6 rounded-8xl flex justify-center items-center shadow-btn box-border  backdrop-blur-23.6px">
                <span class="text-neutral/1000 text-base leading-1.2 not-italic font-bold text-center font-Inter">
                    Create account
                </span>
            </button>
        </div>
            <div>
                <button
                    class="bg-black py-2 px-6 w-80.5 rounded-8xl flex justify-center items-center  box-border border border-solid shadow-btn backdrop-blur-23.6px  border-stroke-0">
                    <span class="text-twittwer-blue text-base font-bold not-italic leading-1.2 font-Inter  text-center">
                        Sign up
                    </span>
                </button>
            </div>
            <div>
                <button
                    class="bg-neutral/50 py-2 px-5 w-[5.313rem] rounded-4xl inline-flex justify-center items-center  box-border">
                    <span class="text-neutral/1000 text-sm font-bold not-italic leading-1.2 font-Inter text-center">
                        Follow
                    </span>
                </button>
            </div>
            <div>
                <button
                    class="bg-neutral/200 py-2 px-5 w-[5.313rem] rounded-4xl inline-flex justify-center items-center  box-border">
                    <span class="text-neutral/1000 text-sm font-bold not-italic leading-1.2 font-Inter text-center">
                        Follow
                    </span>
                </button>
            </div>
            <div>
                <button
                    class="bg-neutral/200 py-2 px-5 w-[5.313rem] rounded-4xl inline-flex justify-center items-center opacity-50 box-border">
                    <span class="text-neutral/1000 text-sm font-bold not-italic leading-1.2 font-Inter text-center">
                        Follow
                    </span>
                </button>
            </div>
            <div>
                <button class="bg-neutral/50 w-100 py-3 px-6 rounded-8xl flex justify-center items-center shadow-btn box-border  backdrop-blur-23.6px">
                    <span class="text-neutral/1000 text-base leading-1.2 not-italic font-bold text-center font-Inter ">
                        Next
                    </span>
                </button>
            </div>
            <div>
                <button class="bg-neutral/200 w-100 py-3 px-6 rounded-8xl flex justify-center items-center shadow-btn box-border  backdrop-blur-23.6px">
                    <span class="text-neutral/1000 text-base leading-1.2 not-italic font-bold text-center font-Inter ">
                        Next
                    </span>
                </button>
            </div>
            <div>
                <button class="bg-neutral/200 w-100 py-3 px-6 rounded-8xl flex justify-center items-center shadow-btn box-border  backdrop-blur-23.6px opacity-50">
                    <span class="text-neutral/1000 text-base leading-1.2 not-italic font-bold text-center font-Inter ">
                        Next
                    </span>
                </button>
            </div>
            <div>
                <button
                    class="py-1.5 px-4 rounded-8xl inline-flex justify-center items-center box-border  border border-solid shadow-btn backdrop-blur-23.6px  border-stroke-0">
                    <span class="text-neutral/50 text-sm font-bold not-italic leading-1.2 font-Inter text-center">
                        Following
                    </span>
                </button>
            </div>
            <div>
                <button
                    class="py-3 px-6 w-80.5 rounded-8xl flex justify-center items-center  box-border border border-solid shadow-btn backdrop-blur-23.6px  border-stroke-0">
                    <span class="text-twittwer-blue text-base font-bold not-italic leading-1.2 font-Inter  text-center">
                        Sign up
                    </span>
                </button>
            </div>
            <div>
                <button class="bg-neutral/50 w-80.5 py-2 px-6 rounded-8xl flex justify-center items-center shadow-btn box-border  backdrop-blur-23.6px">
                    <span class="text-neutral/1000 text-base leading-1.2 not-italic font-bold text-center font-Inter">
                        Create account
                    </span>
                </button>
            </div>
            <div>
                <button class="bg-twittwer-blue py-3.8 px-2.8 rounded-12xl flex justify-center items-center shadow-btn box-border  backdrop-blur-23.6px">
                    <span class="text-neutral/50 text-base leading-1.2 not-italic font-bold text-center font-Inter">
                        Post
                    </span>
                </button>
            </div>
            

</body>

</html>